[submodule "ffts/pffft"]
	path = ffts/pffft
	url = https://github.com/marton78/pffft
[submodule "external/filesystem"]
	path = external/filesystem
	url = https://github.com/gulrak/filesystem
[submodule "external/simde"]
	path = external/simde
	url = https://github.com/simd-everywhere/simde
